# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Build / package files
build/
dist/
*.egg-info/

# Editor settings
.vscode/

# Generated experiment files
*.npz
*.csv
*.txt
*.pt



# Config files if you do not want to track them
configs/



.matplotlib_cache/
/src/bntsmc/.matplotlib_cache/

